# Test out folder
toy_dataset/
toy_dataset_out/
weights/
.weights/
test_installation/
test_installation_out/
predictions/

# working config file
configs/config_work.yaml

# Byte-compiled / optimized / DLL files
__pycache__/
